root = true

# shfmt settings, used by `mise run scripts:format` and conform in neovim
[*.sh]
indent_style = space
indent_size = 2
switch_case_indent = true
space_redirects = true
binary_next_line = true
