# ignore configs that could include secrets etc. for custom scripts
scripts/*.cfg

# ignore work specific git configs like work email etc.
config/git/work

# ignore specific computer settings that should not be shared
config/hypr/hyprland/custom.lua
