[tools]
node = "latest"


# Special
[tasks.setup]
description = "Setup whole configuration"
depends = ["packages:update", "packages:install", "symlinks"]

[tasks.check]
description = "Run all formatters and linters over the whole repo"
run = [
  { task = "scripts:format" },
  { task = "scripts:lint" },
  { task = "lua:format" },
  { task = "lua:lint" },
  { task = "markdown:format" },
  { task = "markdown:lint" },
]

[tasks.neovim]
description = "Force reinstall of latest neovim nightly release"
confirm = "This will overwrite neovim, are you sure?"
run = "./bootstrap/packages/install-neovim-appimage.sh --force"


# Setup tasks
[tasks.symlinks]
description = "Symlink all given configurations"
run = "./bootstrap/symlink.sh"

[tasks.packages]
description = "Update all packages"
run = ["sudo -v", "./bootstrap/update-packages.sh"]

[tasks."packages:update"]
description = "Update all packages"
alias = "update"
run = ["sudo -v", "./bootstrap/update-packages.sh"]

[tasks."packages:install"]
description = "Install OS-specific packages"
run = ["sudo -v", "./bootstrap/install-packages.sh"]

[tasks."packages:install-yay"]
description = "Install yay packages"
run = "./bootstrap/packages/install-packages-yay.sh"

[tasks."packages:install-apt"]
description = "Install apt packages"
run = "./bootstrap/packages/install-packages-apt.sh"

[tasks."packages:install-dnf"]
description = "Install dnf packages"
run = "./bootstrap/packages/install-packages-dnf.sh"

[tasks."packages:install-brew"]
description = "Install brew packages"
run = "./bootstrap/packages/install-packages-brew.sh"


# Lua tasks
[tasks."lua:format"]
description = "Format Lua files with stylua"
run = "npx @johnnymorganz/stylua-bin --glob '*.lua' ./config/nvim"

[tasks."lua:lint"]
description = "Lint Lua files with selene"
run = "selene config/nvim"


# Markdown tasks
[tasks."markdown:format"]
description = "Format Markdown files with prettier"
run = "npx prettier --write --cache --log-level warn '**/*.md'"

[tasks."markdown:lint"]
description = "Lint Markdown files with markdownlint"
run = "npx markdownlint-cli '**/*.md' -f --ignore-path '.gitignore'"


# Scripts tasks
[tasks."scripts:format"]
description = "Format shell and TypeScript scripts"
run = [
  "npx prettier --write --cache --log-level warn '**/*.sh'",
  "npx prettier --write --cache '**/*.ts'",
]

[tasks."scripts:lint"]
description = "Lint shell and TypeScript scripts"
run = ["shellcheck **/*.sh", "npx eslint --fix"]
