configuration {
  show-icons: true;
  theme: ".config/rofi/theme";
  columns: 3;
  width: 100;
  modi: "drun,window,run,ssh";
  display-drun: "Apps";
  display-run: "Command";
  display-window: "Focus";
  display-ssh: "Server";
}
