configuration {
  show-icons: true;
  theme: "theme";
  columns: 3;
  width: 100;
  modi: "drun,window,run";
  display-drun: "Apps";
  display-run: "Command";
  display-window: "Focus";
  display-ssh: "Server";
  font: "SpaceMono Nerd Font Black 12";
  cycle: false;
}
