/* this might live at other locations, based on installation/distro etc. */
@import url('/etc/xdg/waybar/style.css');

/* highlight active workspace */
#workspaces button.focused,
#workspaces button.active {
  background-color: rgba(46, 46, 46, 0.5);
  color: white;
}

#clock {
  background-color: rgba(46, 46, 46, 0);
  color: white;
}

#network {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#cpu {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#memory {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#disk {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#battery {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#wireplumber {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#language {
  background-color: rgba(46, 46, 46, 0);
  color: white;
  padding: 3;
}

#workspaces button {
  padding: 3px 15px;
}

/* add padding to have power buttons aligned */
#custom-power-off {
  margin-right: 15px;
}

#custom-power-lock {
  margin-right: 15px;
}

#custom-power-sleep {
  margin-right: 15px;
}

#custom-power-reboot {
  margin-right: 15px;
}
