/* NOTE: this uses a stripped down version of the default style, see: */
/* @import url('/etc/xdg/waybar/style.css'); */

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* highlight active workspace */
#workspaces button.focused,
#workspaces button.active {
  background-color: rgba(58, 58, 58, 0.5);
}

#workspaces button {
  padding: 3px 15px;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#temperature.critical {
  background-color: #eb4d4b;
}

/* HACK to align the tray and normal icons somewhat evenly spaced, guessing as the others are considered buttons and have padding */
#tray {
  padding-left: 5px;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#clock.time {
  padding-right: 15px;
}

/* add padding to have power buttons aligned */
#custom-power-off {
  margin-right: 4px;
}

#custom-power-lock {
  margin-right: 3px;
}

#custom-power-sleep {
  margin-right: 15px;
}

#custom-power-reboot {
  margin-left: 10px;
  margin-right: 12px;
}
